[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-wtf = "*"
flask-bootstrap = "*"
pandas = "*"
sqlalchemy = "*"

[requires]
python_version = "3.6"
