[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
pymysql = "*"
flask-login = "*"
flask-wtf = "*"
flask-bootstrap = "*"
pandas = "*"
flask-whooshalchemy = "*"
flask-whooshee = "*"

[requires]
python_version = "3.6"
