{% extends "base.html" %}
{% import '_macro.html' as sp %}
{% block title %}
    分页显示物料信息
{% endblock %}

{% block page_content %}
<script src="../static/js/jquery-3.4.0.min.js"></script>
<script src="{{url_for('static',filename='../static/js/material.js')}}"></script>
<script type="text/javascript" src="../static/js/materials.js"></script>
<style>
    .table {
    text-overflow: ellipsis; 
    white-space: nowrap;       
    overflow: hidden;         

    }
    #mark {
        word-wrap:break-word;
        word-break:break-all;
        
    }

</style>  


<div class="container">
	<h2>物料表</h2>                       
	<table class="table table-hover">   
		<thead>
			<tr>
                <th class="title">物料ID</th>
                <th>元件名</th>
                <th>封装</th>
                <th class="title">物料类型</th>
                <th class="title">物料库存</th>
                <th>备注</th>
			</tr>
        </thead>
        
		<tbody id="table_list">
            {%for material in page_data.items%}
			<tr id='line'>
                <td id='ids'>{{material.ID}}</td>
                <td>{{material.物料名称}}</td>
                <td>{{material.物料型号}}</td>
                <td>{{material.物料类型}}</td>
                {%if material.物料库存%}
                <td>{{material.物料库存}}</td>
                {%else%}
                <td>0</td>
                {%endif%}
                {%if material.备注%}
                <td id='mark'>{{material.备注}}</td>
                {%else%}
                <td></td>
                {%endif%}

                <td> 
                    <button class="btn btn-info" id="btn_remark" data-toggle="modal" data-target="#remark_modal", num="{{material.ID}}" mark="{{material.备注}}" onclick='add_remark(this)'>修改备注</button>    
                </td>
                <td><button class="btn btn-info" id="btn_buy" data-toggle="modal" data-target="#buy_modal", num="{{material.ID}}" onclick='buy(this)'>进货</button></td>
                <td><button class="btn btn-info" id="btn_sale" data-toggle="modal" data-target="#sale_modal", num="{{material.ID}}" onclick='sale(this)'>出货</button></td>
                <td><button class="btn btn-info" id="btn_add" data-toggle="modal" data-target="#add_modal", num="{{material.ID}}" yj="{{material.物料名称}}" fz="{{material.物料型号}}" types="{{material.物料类型}}" onclick='add(this)'>添加属性</button></td>
                <td><button class="btn btn-info"><a href="{{url_for('main.show_attr',ID=material.ID,yj=material.物料名称,fz=material.物料型号,mtype=material.物料类型)}}">展示属性</a></button></td>
                <td><button class="btn btn-info"><a href="{{url_for('main.delete_material',page=page,ID=material.ID)}}">删除物料</a></button></td>  
                <td><button class="btn btn-info" id="btn_record" data-toggle="modal" data-target="#record_modal", num="{{material.ID}}" onclick='adjust_record(this)'>库存调整</button></td>
            </tr>
            {% endfor %}
		</tbody>
    </table>

    <div class="modal fade" id="buy_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        进货
                    </h4>
                    
                </div>
                <div class="modal-body">
                        <p class="text-center">物料ID:<input type="text" id='buy_mid' readonly="readonly"></p>
                    <p class="text-center">进货数量:<input type="text" id='buy_number'></p>
                    <p class="text-center">进货价格:<input type="text" id='buy_price'></p>
                </div>
                <div class="modal-footer">
                    <button id='off' type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="submit" type="button" class="btn btn-primary" page="{{page}}" onclick="buy_submit(this)" >提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="sale_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        出货
                    </h4>
                    
                </div>
                <div class="modal-body">
                    <p class="text-center">物料ID:<input type="text" id='sale_mid' readonly="readonly"></p>
                    <p class="text-center">出货数量:<input type="text" id='sale_number'></p>
                    <p class="text-center">出货价格:<input type="text" id='sale_price'></p>
                </div>
                <div class="modal-footer">
                    <button id='off' type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="submit" type="button" class="btn btn-primary" page="{{page}}" onclick="sale_submit(this)" >提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


    <div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加属性
                    </h4>
                    
                </div>
                <div class="modal-body">
                        <p class="text-center">物料ID:<input type="text" id='add_mid' readonly="readonly"></p>
                        <p class="text-center"><input type="hidden" id ="yj" readonly="readonly"></p>
                        <p class="text-center"><input type="hidden" id ="fz" readonly="readonly"></p>
                        <p class="text-center"><input type="hidden" id ="types" readonly="readonly"></p>
                    <p class="text-center">属性:<input type="text" id='attribute'></p>
                    <p class="text-center">值:<input type="text" id='value'></p>
                </div>
                <div class="modal-footer">
                    <button id='off' type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="submit" type="button" class="btn btn-primary"  onclick="add_submit(this)" >提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="remark_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加备注
                    </h4>
                    
                </div>
                <div class="modal-body">
                    <p class="text-center">物料ID:<input type="text" id='remark_mid' readonly="readonly"></p>
                    <p class="text-center">备注:<input type="text" id='remark'></p>

                </div>
                <div class="modal-footer">
                    <button id='off' type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="submit" type="button" class="btn btn-primary" page="{{page}}" onclick="remark_submit(this)" >提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="record_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            调整库存
                        </h4>
                        
                    </div>
                    <div class="modal-body">
                        <p class="text-center">物料ID:<input type="text" id='record_mid' readonly="readonly"></p>
                        <p class="text-center">要修改的库存数量:<input type="text" id='record_num'></p>
    
                    </div>
                    <div class="modal-footer">
                        <button id='off' type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="submit" type="button" class="btn btn-primary" page="{{page}}" onclick="record_submit(this)" >提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    <div class="pagination">
            {{sp.split_page(page_data,'main.material_list',words)}}
    </div>
     
   

    
</div>
{% endblock %}