{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macro.html' as sp %}


{% block page_content%}
<div class="container">
	<h2>出货表</h2>
    </br>                          
	<table class="table table-hover">
		<thead>
			<tr>
                <th>出货物料名称</th>
                <th>出货数量</th>
                <th>出货价格(元）</th>
                <th>出货日期</th>
                <th>物料ID</th>
			</tr>
        </thead>
        
		<tbody>
                {%for item in page_data.items%}
			<tr>
                <td>{{item.name}}</td>
                <td>{{item.number}}</td>
                <td>{{item.price}}</td>
                <td>{{item.date}}</td>
                <td>{{item.ID}}</td>
            </tr>
            {% endfor %}
		</tbody>
    </table>
    <div class="pagination">
            {{sp.split_page(page_data,'api_1_0.sale_list')}}
    </div>
</div>

{% endblock %}

